<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

  <!-- 
    Tells JSP translator not to generate whitespace in HTML in place of scriptlets.
    Source: http://stackoverflow.com/a/20100278
  -->
  <jsp-config>
    <jsp-property-group>
        <url-pattern>*.jsp</url-pattern>
        <trim-directive-whitespaces>true</trim-directive-whitespaces>
     </jsp-property-group>
  </jsp-config>

  <!-- Home -->
  <servlet>
      <servlet-name>Home</servlet-name>
      <servlet-class>controllers.Home</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>Home</servlet-name>
      <url-pattern>/Home</url-pattern>
  </servlet-mapping> 

  <servlet-mapping>
      <servlet-name>Home</servlet-name>
      <url-pattern></url-pattern><!-- maps Home to context root-->
  </servlet-mapping> 

  <!-- Account -->
  <servlet>
      <servlet-name>Account</servlet-name>
      <servlet-class>controllers.Account</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>Account</servlet-name>
      <url-pattern>/Account</url-pattern>
  </servlet-mapping>  

  <!-- AddOrder -->
  <servlet>
      <servlet-name>AddOrder</servlet-name>
      <servlet-class>controllers.AddOrder</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>AddOrder</servlet-name>
      <url-pattern>/AddOrder</url-pattern>
  </servlet-mapping> 

  <!-- AddTicket -->
  <servlet>
      <servlet-name>AddTicket</servlet-name>
      <servlet-class>controllers.AddTicket</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>AddTicket</servlet-name>
      <url-pattern>/AddTicket</url-pattern>
  </servlet-mapping>

  <!-- AlertMessage -->
  <servlet>
      <servlet-name>AlertMessage</servlet-name>
      <servlet-class>controllers.includes.AlertMessage</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>AlertMessage</servlet-name>
      <url-pattern>/AlertMessage</url-pattern>
  </servlet-mapping>  

<!-- AutoComplete -->
  <servlet>
      <servlet-name>AutoComplete</servlet-name>
      <servlet-class>controllers.AutoComplete</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>AutoComplete</servlet-name>
      <url-pattern>/AutoComplete</url-pattern>
  </servlet-mapping>

  <!-- CustomerTable -->
  <servlet>
      <servlet-name>CustomerTable</servlet-name>
      <servlet-class>controllers.includes.CustomerTable</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>CustomerTable</servlet-name>
      <url-pattern>/CustomerTable</url-pattern>
  </servlet-mapping>    

  <!-- CustomerUIPanels -->
  <servlet>
      <servlet-name>CustomerUIPanels</servlet-name>
      <servlet-class>controllers.includes.CustomerUIPanels</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>CustomerUIPanels</servlet-name>
      <url-pattern>/CustomerUIPanels</url-pattern>
  </servlet-mapping>  

  <!-- InvoiceAction -->
  <servlet>
      <servlet-name>InvoiceAction</servlet-name>
      <servlet-class>controllers.includes.InvoiceAction</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>InvoiceAction</servlet-name>
      <url-pattern>/InvoiceAction</url-pattern>
  </servlet-mapping>  

  <!-- InvoiceTable -->
  <servlet>
      <servlet-name>InvoiceTable</servlet-name>
      <servlet-class>controllers.includes.InvoiceTable</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>InvoiceTable</servlet-name>
      <url-pattern>/InvoiceTable</url-pattern>
  </servlet-mapping>  

  <!-- ItemList -->
  <servlet>
      <servlet-name>ItemList</servlet-name>
      <servlet-class>controllers.ItemList</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>ItemList</servlet-name>
      <url-pattern>/ItemList</url-pattern>
  </servlet-mapping>  

  <!-- ItemOrderTable -->
  <servlet>
      <servlet-name>ItemOrderTable</servlet-name>
      <servlet-class>controllers.includes.ItemOrderTable</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>ItemOrderTable</servlet-name>
      <url-pattern>/ItemOrderTable</url-pattern>
  </servlet-mapping> 

  <!-- ListButton -->
  <servlet>
      <servlet-name>ListButton</servlet-name>
      <servlet-class>controllers.includes.ListButton</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>ListButton</servlet-name>
      <url-pattern>/ListButton</url-pattern>
  </servlet-mapping> 

  <!-- Login -->
  <servlet>
      <servlet-name>Login</servlet-name>
      <servlet-class>controllers.Login</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>Login</servlet-name>
      <url-pattern>/Login</url-pattern>
  </servlet-mapping>  

  <!-- Logout -->
  <servlet>
      <servlet-name>Logout</servlet-name>
      <servlet-class>controllers.Logout</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>Logout</servlet-name>
      <url-pattern>/Logout</url-pattern>
  </servlet-mapping>  

  <!-- ModifyCustomer -->
  <servlet>
      <servlet-name>ModifyCustomer</servlet-name>
      <servlet-class>controllers.ModifyCustomer</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>ModifyCustomer</servlet-name>
      <url-pattern>/ModifyCustomer</url-pattern>
  </servlet-mapping> 

  <!-- ModifyOrder -->
  <servlet>
      <servlet-name>ModifyOrder</servlet-name>
      <servlet-class>controllers.ModifyOrder</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>ModifyOrder</servlet-name>
      <url-pattern>/ModifyOrder</url-pattern>
  </servlet-mapping> 

  <!-- NavBar -->
  <servlet>
      <servlet-name>NavBar</servlet-name>
      <servlet-class>controllers.includes.NavBar</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>NavBar</servlet-name>
      <url-pattern>/NavBar</url-pattern>
  </servlet-mapping>  

  <!-- NewCustomer -->
  <servlet>
      <servlet-name>NewCustomer</servlet-name>
      <servlet-class>controllers.NewCustomer</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>NewCustomer</servlet-name>
      <url-pattern>/NewCustomer</url-pattern>
  </servlet-mapping> 

  <!-- OrderTable -->
  <servlet>
      <servlet-name>OrderTable</servlet-name>
      <servlet-class>controllers.includes.OrderTable</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>OrderTable</servlet-name>
      <url-pattern>/OrderTable</url-pattern>
  </servlet-mapping>  

  <!-- PayBill -->
  <servlet>
      <servlet-name>PayBill</servlet-name>
      <servlet-class>controllers.PayBill</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>PayBill</servlet-name>
      <url-pattern>/PayBill</url-pattern>
  </servlet-mapping>  

  <!-- Search -->
  <servlet>
      <servlet-name>Search</servlet-name>
      <servlet-class>controllers.Search</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>Search</servlet-name>
      <url-pattern>/Search</url-pattern>
  </servlet-mapping> 

  <!-- SelectCustomer -->
  <servlet>
      <servlet-name>SelectCustomer</servlet-name>
      <servlet-class>controllers.includes.SelectCustomer</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>SelectCustomer</servlet-name>
      <url-pattern>/SelectCustomer</url-pattern>
  </servlet-mapping>   

  <!-- SelectItem -->
  <servlet>
      <servlet-name>SelectItem</servlet-name>
      <servlet-class>controllers.includes.SelectItem</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>SelectItem</servlet-name>
      <url-pattern>/SelectItem</url-pattern>
  </servlet-mapping> 

  <!-- SelectTechnician -->
  <servlet>
      <servlet-name>SelectTechnician</servlet-name>
      <servlet-class>controllers.includes.SelectTechnician</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>SelectTechnician</servlet-name>
      <url-pattern>/SelectTechnician</url-pattern>
  </servlet-mapping>   

  <!-- TicketTable -->
  <servlet>
      <servlet-name>TicketTable</servlet-name>
      <servlet-class>controllers.includes.TicketTable</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>TicketTable</servlet-name>
      <url-pattern>/TicketTable</url-pattern>
  </servlet-mapping>   

  <!-- UpdateCustomer -->
  <servlet>
      <servlet-name>UpdateCustomer</servlet-name>
      <servlet-class>controllers.UpdateCustomer</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>UpdateCustomer</servlet-name>
      <url-pattern>/UpdateCustomer</url-pattern>
  </servlet-mapping>  

  <!-- ViewCustomers -->
  <servlet>
      <servlet-name>ViewCustomers</servlet-name>
      <servlet-class>controllers.ViewCustomers</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>ViewCustomers</servlet-name>
      <url-pattern>/ViewCustomers</url-pattern>
  </servlet-mapping>  

  <!-- ViewInvoice -->
  <servlet>
      <servlet-name>ViewInvoice</servlet-name>
      <servlet-class>controllers.ViewInvoice</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>ViewInvoice</servlet-name>
      <url-pattern>/ViewInvoice</url-pattern>
  </servlet-mapping>  

  <!-- ViewOrders -->
  <servlet>
      <servlet-name>ViewOrders</servlet-name>
      <servlet-class>controllers.ViewOrders</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>ViewOrders</servlet-name>
      <url-pattern>/ViewOrders</url-pattern>
  </servlet-mapping>

  <!-- ViewTickets -->
  <servlet>
      <servlet-name>ViewTickets</servlet-name>
      <servlet-class>controllers.ViewTickets</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>ViewTickets</servlet-name>
      <url-pattern>/ViewTickets</url-pattern>
  </servlet-mapping>  

</web-app>
